blinker
certifi
charset-normalizer
click
colorama
exceptiongroup
Flask
Flask-SQLAlchemy
greenlet

itsdangerous
Jinja2
MarkupSafe
packagingpluggy
pytest
python-dotenv
requests
SQLAlchemy
tomli
typing_extensions
urllib3
Werkzeug
gunicorn